@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #fff;
    --foreground: #000;

    --primary: #FBFE93;
    --primary-foreground: #000;
  
    --primary-cyan: #D9F5F0;

    --border: #000;

    --radius: 0.5rem;
  }

  .dark {
    /* Dark mode colors */
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground overflow-x-hidden;
  }
}

@layer utilities {
  .inset-background {
    @apply absolute inset-0 overflow-hidden pointer-events-none w-full h-full;
  }
}