@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #fff;
    --foreground: #000;

    --muted: #4C4C4C;
    --muted-gray: #f0f0f0;

    --primary: #FBFE93;
    --primary-foreground: #000;
  
    --primary-cyan: #C4F5EC;
    --primary-green: #A0D394;
    --primary-yellow: #FFE581;
    --primary-amber: #febf10;
    --primary-pink: #FDC1C9;
    --primary-pink-shade: #fbdfff;
    --primary-orange: #FFA17B;
    --primary-lavender: #FFB3EF;
    --primary-purple: #C5A1FF;
    --primary-blue: #88CEEB;
    --primary-tomatoe: #FF541F;

    --border: #000;

    --progress: #F6D7B2;

    --radius: 0.5rem;
  }

  .dark {
    /* Dark mode colors */
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground overflow-x-hidden;
  }
}

@layer components {
  .themed-progress[value] {
    @apply appearance-none border-2 border-black rounded-full h-14 bg-white overflow-hidden;
  }

  .themed-progress[value]::-webkit-progress-bar {
    @apply rounded-full bg-white h-14;
  }

  .themed-progress[value]::-webkit-progress-value {
    appearance: none;
    border-right: 2px solid var(--foreground);
    background-color: var(--progress);
  }


}

@layer utilities {
  .story-container {
    @apply min-h-svh;
  }
  
  .story-content {
    @apply flex flex-col items-center flex-1 text-center pt-20;
  }

  @media screen and (max-height: 750px) {
    .story-content {
      @apply scale-[0.90] origin-top;
    }
  }

  .inset-background {
    @apply absolute inset-0 overflow-hidden pointer-events-none w-full h-full;
  }

  .offset-content {
    @apply z-20 relative;
  }

  .flex-center {
    @apply flex justify-center items-center
  }

  .flex-center-x {
    @apply flex justify-center
  }

  .flex-center-y {
    @apply flex items-center
  }
}